{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width='auto' alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <p><span class="lead">{{ product.author }}</span> (Người viết)</p>
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Giá:</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">{{ product.price }} đồng</span></div>
                        </div>
                    </div>
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Chuyên mục: </div>
                            <div class="col-6 text-end">
                                <a style="font-size: 12pt; text-decoration: none"  href="{{ product.category.get_absolute_url }}">{{product.category|title}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                <select id="select">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </select>
                            </div>
                            <div class="col-6 text-end"><button type="button" class="btn btn-secondary btn-sm">Thêm vào giỏ hàng</button></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

</div>
{% endblock %}